{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Homepage' %}
{% set isHomepage = true %}

{% block content %}

	<main role="main" id="main" class="main">
		<div class="row-main">
			<div class="hoverable">
				1
				<style>
					.hoverable {
						width: 300px;
						height: 300px;
						background: red;
					}

					.hoverevents .hoverable {
						background: green;
					}

					.hoverevents .hoverable:hover {
						background: yellow;
					}

					@media (pointer: coarse) {
						.hoverable {
							border: 5px solid black;
						}
					}
				</style>
			</div>
		</div>
	</main>

{% endblock %}
