{% extends '@layout/layout.twig' %}
{% set pageTitle = '#PrvniLinie - děkujeme!' %}

{% block content %}

	<main role="main" id="main" class="main">
		<div class="container">

			{% include '@components/hero.twig' %}

			<div class="container__content">
				<h1 class="title">
					Podpořme společně všechny v první linii v boji proti pandemii koronaviru COVID-19.
				</h1>

				<div class="js-content">
					<p class="cta-title">
						Než spustíme web s možnostmi konkrétní pomoci, přidejte se k ostatním do <a href="https://www.facebook.com/groups/639665170163028/">skupiny na Facebooku</a>.
					</p>
					<p class="cta-title">
						Případně zanechejte Váš email, a my Vám dáme vědět.
					</p>

					<form action="https://prvnilinie.us19.list-manage.com/subscribe/post-json?u=7a347677f56a33be110961c87&amp;id=1e86a00289&c=?">
						<div class="textbox">
							<label class="textbox__label" for="newsletter">
								<span class="textbox__label-text u-vhide">
									Zadejte váš e-mail
								</span>
							</label>
							<div class="textbox__input-group-wrapper">
								<div class="textbox__input-outer-wrapper">
									<div class="textbox__input-wrapper">
										<input type="email" class="textbox__input" id="newsletter" placeholder="Zadejte váš e-mail" name="EMAIL" required>
										<div class="textbox__visual-input"></div>
									</div>
									<div class="textbox__input-append">
										<button type="submit" class="btn">
											<span class="btn__inner">
												Dejte mi vědět
											</span>
										</button>
									</div>
								</div>
							</div>
						</div>

						<div class="checkbox">
							<span class="checkbox__inner inp-fix">
								<input type="checkbox" class="checkbox__input" id="checkbox-01" name="checkbox-01" required>
								<span class="checkbox__visual-input" aria-hidden="true" hidden="">
									<svg class="checkbox__tick" viewBox="0 0 22 22" focusable="false">
										<path d="M6.2 11.7L8.5 14a1.6 1.6 0 0 0 2.4 0L16 7.1" class="checkbox__tick-determinate"></path>
										<path d="M6,11 H16" class="checkbox__tick-indeterminate"></path>
									</svg>
								</span>
								<span class="checkbox__label-wrapper">
									<label class="checkbox__label" for="checkbox-01">
										<span class="checkbox__label-text">
											Přihlášením souhlasíte se <a href="zpracovani-osobnich-udaju.html">zpracování osobních údajů</a>.
										</span>
									</label>
								</span>
							</span>
						</div>

						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7a347677f56a33be110961c87_1e86a00289" tabindex="-1" value=""></div>

						<div class="messages">
							<p class="message message--error u-hide">Něco se pokazilo :(</p>
						</div>
					</form>
				</div>

				<div class="js-message-ok u-hide">
					<p class="cta-title">
						Děkujeme! Jakmile vše spustíme, tak se vám ozveme.
					</p>
					<a href="/" class="cta-link js-again">Zadat další e-mail</a>
				</div>



				{# <a href="" class="cta-link">Mrknout na náš facebook</a> #}
			</div>
		</div>
	</main>

{% endblock %}
