{% extends '@layout/layout.twig' %}
{% set pageTitle = '#PrvniLinie - děkujeme!' %}

{% block content %}

	<main role="main" id="main" class="main">
		<div class="container">

			<picture class="container__logo">
				<source type="image/png" srcset="{{ assets.images }}illust/logo-w640.png, {{ assets.images }}illust/logo-w640@2x.png 2x" />
				<img src="{{ assets.images }}illust/logo-w640.png" alt="" />
			</picture>

			<div class="container__content">
				<h1 class="title">
					Podpořme společně všechny v první linii v boji proti pandemii koronaviru COVID-19.
				</h1>

                <p class="cta-title">
                    Děkujeme! Jakmile vše spustíme, tak se vám ozveme.
                </p>
                <a href="index.html" class="cta-link">Zadat další e-mail</a>

				<hr>

				<p class="cta-title">
					Než spustíme web s možnostmi konkrétní pomoci, přidejte se k ostatním do <a href="https://www.facebook.com/groups/639665170163028/">skupiny na Facebooku</a>.
				</p>

				{# <a href="" class="cta-link">Mrknout na náš facebook</a> #}
			</div>
		</div>
	</main>

{% endblock %}
