{% extends '@layout/layout.twig' %}
{% set pageTitle = '#PrvniLinie - děkujeme!' %}

{% block content %}

	<main role="main" id="main" class="main">
		<div class="container">

			{% include '@components/hero.twig' %}

			<div class="container__content">
				<h1 class="title">
                    Zpracování osobních údajů
				</h1>

                <p>
                    Jsme společnost Striker Digital Czech s.r.o., se sídlem Korunní 2569/108, 101 00, Praha 10 - Vinohrady, IČ: 29124107, zapsaná v&nbsp;Obchoním rejstříku pod sp. zn. C&nbsp;190807 vedená u Městského soudu v&nbsp;Praze („My“). Na našich webových stránkách <a href="https://prvnilinie.cz">https://prvnilinie.cz</a> můžete registrovat svůj e-mail. V&nbsp;tomto dokumentu bychom Vás rádi informovali, jak budeme pracovat s&nbsp;Vašim e-mailem.
                </p>
                <p>
                    Pro registraci e-mailové adresy na našich webových stránkách musíte souhlasit s&nbsp;možností zasílat Vám na zadaný e-mail různá sdělení, a to zejména sdělení spojená se spuštěním webu a informacemi spojenými s&nbsp;první linií v&nbsp;boji proti nemoci COVID-19 (zejména odkazy na partnerské projekty). Právním základem pro zpracování je Váš souhlas se zasíláním těchto e-mailů. Nezapomeňte, že máte kdykoliv&nbsp;právo svůj souhlas odvolat, a to přímo v&nbsp;patičce e-mailu, kde je možnost odvolat souhlas se zasíláním sdělení.
                </p>
                <p>
                    E-mail bude uložen v&nbsp;platformě Mailchimp, kterou provozouje společnost The Rocket Science Group LLC. Tato společnost se nachází mimo EU, konkrétně v&nbsp;U.S.A., jde tedy o předávání do třetí země. Nemusíte se však bát, toto předávání je založeno na vhodné záruce, kterou je evidence této společnosti v&nbsp;systému <a href="https://www.privacyshield.gov/participant?id=a2zt0000000TO6hAAG" target="_blank" rel="noreferrer noopener">Privacy Shield</a>. Nikomu dalšímu nebudeme Váš e-mail zasílat, ani jej nebudeme nikomu prodávat.
                </p>
                <p>
                    Nemusíte se bát, že bychom Vás obtěžovali nabídkou komerčních a placených služeb. Všechny zprávy, které od nás obdržíte, se budou týkat pouze tématu, pro které jste nám e-mail poskytli, tedy informování o různých možnostech konkrétní pomoci a dalších informací uvedených výše.
                </p>
                <p>
                    E-mail budeme uchovávat pouze po dobu trvání současného nouzového stavu a následně po dobu 6 měsíců.
                </p>
                <p>
                    Ve vztahu k námi prováděnému zpracování Vašeho e-mailu máte právo na <strong>přístup</strong> k osobním údajům; právo na <strong>opravu</strong>; právo na <strong>výmaz</strong> (v&nbsp;případě, že odvoláte svůj souhlas); právo na <strong>omezení</strong> zpracování údajů; právo vznést <strong>námitku</strong> proti zpracování; právo na <strong>přenositelnost</strong> údajů; právo na <strong>odvolání souhlasu</strong>; a právo podat <strong>stížnost</strong> na zpracování osobních údajů, kterým je Úřad pro ochranu osobních údajů. Všechna práva (s výjimkou stížnosti), lze uplatnit na e-mailové adrese uvedené výše).
                </p>

				<hr>

				<p class="cta-title">
					Než spustíme web s&nbsp;možnostmi konkrétní pomoci, přidejte se k ostatním do <a href="https://www.facebook.com/groups/639665170163028/">skupiny na Facebooku</a> nebo se přihlaste k odběru e-mailu na <a href="index.html">hlavní stránce</a>.
				</p>

				{# <a href="" class="cta-link">Mrknout na náš facebook</a> #}
			</div>
		</div>
	</main>

{% endblock %}
