// stylelint-disable
a {
	color: $colorPrimary;
	text-decoration: none;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	min-height: 100vh;
	background: linear-gradient(#eef8fd, $colorWhite);
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1640px;
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: auto;
		margin-left: auto;
		padding: 70px 15px 30px;
		picture,
		img {
			max-width: 100%;
		}
		@media ($mdUp) {
			padding: 40px;
		}
		@media ($lgUp) {
			width: 50%;
			padding: 40px;
			@supports (position: sticky) {
				position: sticky;
				top: 50vh;
				top: calc(50vh - 290px);
			}
		}
		@media ($xlUp) {
			padding: 80px;
		}
	}
	&__content {
		width: 100%;
		max-width: 800px;
		padding: 30px 15px;
		> p {
			line-height: 1.5;
		}
		@media ($mdUp) {
			padding: 40px;
		}
		@media ($lgUp) {
			width: 50%;
			padding: 40px;
		}
		@media ($xlUp) {
			padding: 80px;
		}
	}
	@media ($lgUp) {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		@supports (position: sticky) {
			align-items: flex-start;
		}
	}
}

.title {
	margin-bottom: 24px;
	font-weight: 900;
	font-size: 24px;
	line-height: (28/24);

	@media ($mdUp) {
		margin-bottom: 48px;
		font-size: 48px;
		line-height: (56/48);
	}

	@media ($lgUp) {
		font-size: 36px;
		line-height: (42/36);
	}

	@media ($xlUp) {
		font-size: 48px;
		line-height: (56/48);
	}
}

.btn {
	padding: 7px 16px;
	border-radius: 2px;
	background-color: $colorPrimary;
	color: $colorWhite;
	font-weight: bold;
	transition: all $t;
	box-shadow: 4px 4px 0 0 #d8eef9;
	&:hover,
	&:focus {
		position: relative;
		top: 1px;
		box-shadow: 2px 2px 0 0 #d8eef9;
	}
	&:active {
		top: 2px;
		outline: 0;
		box-shadow: 0 0 0 0 #d8eef9;
	}
	&__inner {
		font-size: 12px;
		line-height: (20/12);
		letter-spacing: 1.5px;
		text-transform: uppercase;
	}
	@media ($mdUp) {
		padding: 14px 32px;
	}
}

.textbox {
	&__input-group-wrapper {
		display: flex;
		align-self: flex-start;
		margin-bottom: 16px;
	}
	&__input-outer-wrapper {
		position: relative;
		display: flex;
		flex: 1 1 100%;
		align-items: center;
		max-width: 100%;

		// min-height: $spacing-lg;
		// padding: 1px;
	}
	&__input-wrapper {
		display: flex;
		flex: 1 1 100%;
	}
	&__input {
		// @include type-setting(0condensedultra); // todo - mixin
		position: relative;
		z-index: 2;
		width: 100%;
		padding: 6px 20px; // todo - mixin
		border: none;
		background: none;
		outline: none;
		font-size: 16px;
		line-height: (24/16);
		text-align: inherit;

		// stylelint-disable property-no-vendor-prefix
		-moz-appearance: textfield;
	}
	&__visual-input {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		border: 1px solid #e6e6e7;
		border-radius: 4px;
		background: $colorWhite;
		overflow: hidden;
		transition: border-color 150ms;
		transition: all $t;
		pointer-events: none;
	}
	&__input:focus ~ &__visual-input {
		border-color: hsl(240, 2%, 80%);
	}
	&__input-append {
		position: relative;
		z-index: 1;
		display: flex;
		align-self: center;
		margin: 8px;
		white-space: nowrap;
	}

	&.has-error {
		.textbox__visual-input {
			border-color: $colorRed;
		}
	}
}

.checkbox {
	$s: '.checkbox';
	position: relative;
	z-index: 1;
	display: flex;
	align-items: flex-start;
	min-height: 24px;
	font-weight: bold;
	font-size: 10px;
	line-height: (24 / 10);
	letter-spacing: 1px;
	text-transform: uppercase;

	// margin-bottom: $spacing-xs;
	break-inside: avoid;
	&__inner {
		position: relative;
		display: flex;
		align-items: flex-start;
		margin-bottom: 16px;
		padding: 0 0 0 40px;
	}
	&__input,
	&__visual-input {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 24px;
		height: 24px;
		transition: all $t;
		cursor: pointer;
	}
	&__input {
		z-index: 1;
		opacity: 0;
	}
	&__visual-input {
		border: 1px solid currentColor;
		border: 1px solid #e6e6e7;
		border-radius: 3px;
		background: $colorWhite;
		color: $colorWhite;
	}
	&__tick {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		color: $colorWhite; // todo
		visibility: hidden;
		opacity: 0.5;
		transform: scale(0.5);
		transition: transform 400ms cubic-bezier(0.22, 0.68, 0, 1.71), visibility 400ms;
	}
	&__tick-determinate,
	&__tick-indeterminate {
		transition: stroke-dashoffset 200ms;
		fill: none;
		stroke: currentColor;
		stroke-width: 2.6;
		stroke-linecap: round;
	}
	&__tick-determinate {
		stroke-dasharray: 17 20;
		stroke-dashoffset: 20;
	}
	&__tick-indeterminate {
		display: none;
		stroke-dasharray: 12 13;
		stroke-dashoffset: 13;
	}
	&__input:checked ~ &__visual-input {
		border-color: $colorPrimary;
		background: $colorPrimary;
		color: $colorWhite;
	}
	&__input:checked ~ * > &__tick {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
	}
	&__input:checked ~ * > svg > &__tick-determinate {
		stroke-dashoffset: 0;
	}
	&__input:indeterminate ~ * > &__tick {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
	}
	&__input:indeterminate ~ * > svg > &__tick-determinate {
		display: none;
	}
	&__input:indeterminate ~ * > svg > &__tick-indeterminate {
		display: block;
		stroke-dashoffset: 0;
	}
}

hr {
	height: 4px;
	margin-top: 48px;
	margin-bottom: 16px;
	border: 0;
	background: #e6e6e7;

	@media ($mdUp) {
		margin-top: 96px;
		margin-bottom: 32px;
	}
}

.cta-title {
	margin-bottom: 20px;
	font-family: $fontSecondary;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.3;

	@media ($mdUp) {
		font-size: 24px;
		line-height: (27/24);
	}
}

.cta-link {
	margin-bottom: 0;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.5px;
	text-transform: uppercase;

	@media ($mdUp) {
		font-size: 16px;
		line-height: (20/16);
		letter-spacing: 2px;
	}
}

// enable-disable
