<!DOCTYPE html>
<html lang="cs" class="no-js">
	<head>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{ pageTitle }}">
		<meta name="twitter:description" content="Podpořme společně všechny v první linii v boji proti pandemii koronaviru COVID-19.">
		<meta name="twitter:image" content="https://prvnilinie.cz/img/facebook.png">

		<meta property="og:title" content="{{ pageTitle }}">
		<meta property="og:description" content="Podpořme společně všechny v první linii v boji proti pandemii koronaviru COVID-19.">
		<meta property="og:image" content="https://prvnilinie.cz/img/twitter.png">
		<meta property="og:site_name" content="#PrvniLinie - děkujeme!">
		<meta property="og:url" content="http://prvnilinie.cz/">

		<link rel="apple-touch-icon" sizes="180x180" href="{{ assets.images }}favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ assets.images }}favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ assets.images }}favicons/favicon-16x16.png">
		<link rel="manifest" href="{{ assets.images }}favicons/site.webmanifest">
		<link rel="mask-icon" href="{{ assets.images }}favicons/safari-pinned-tab.svg" color="#4664e1">
		<link rel="shortcut icon" href="{{ assets.images }}favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="{{ assets.images }}favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">

		<title>{{ pageTitle }}</title>

		<link rel="stylesheet" href="{{ assets.styles }}style.css" media="screen,handheld">
		<link rel="stylesheet" href="{{ assets.styles }}print.css" media="print">

		<link href="https://fonts.googleapis.com/css?family=Catamaran:700,900|Inter:400,700&display=swap&subset=latin-ext" rel="stylesheet">

		{% set scripts = [
			assets.scripts ~ 'jquery-3.4.1.min.js',
			'https://cdn.polyfill.io/v3/polyfill.min.js?features=default,Array.prototype.includes,Object.values,Array.prototype.find,AbortController,fetch',
			assets.scripts ~ 'app.js'
		] %}

		{% for script in scripts %}
		<link rel="preload" as="script" href="{{script}}">
		{% endfor %}

		<link rel="shortcut icon" href="{{ assets.images }}favicon.ico">

		<script>
			(function () {
				var className = document.documentElement.className;
				className = className.replace('no-js', 'js');

				(function() {
					var mediaHover = window.matchMedia('(hover: none), (pointer: coarse), (pointer: none)');
					mediaHover.addListener(function(media) {
						document.documentElement.classList[media.matches ? 'add' : 'remove']('no-hoverevents');
						document.documentElement.classList[!media.matches ? 'add' : 'remove']('hoverevents');
					});
					className += (mediaHover.matches ? ' no-hoverevents' : ' hoverevents');
				})();
				
				// var supportsCover = 'CSS' in window && typeof CSS.supports === 'function' && CSS.supports('object-fit: cover');
				// className += (supportsCover ? ' ' : ' no-') + 'objectfit';

				// fix iOS zoom issue: https://docs.google.com/document/d/1KclJmXyuuErcvit-kwCC6K2J7dClRef43oyGVCqWxFE/edit#heading=h.sgbqg5nzhvu9
				var ua = navigator.userAgent.toLowerCase();
				var isIOS = /ipad|iphone|ipod/.test(ua) && !window.MSStream;

				if (isIOS === true) {
					var viewportTag = document.querySelector("meta[name=viewport]");
					viewportTag.setAttribute("content", "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no");
				}

				document.documentElement.className = className;
			}());
		</script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161807269-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-161807269-1');
		</script>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M3CFNV6');</script>
		<!-- End Google Tag Manager -->


	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3CFNV6"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		{% block content %}{% endblock %}


		{% for script in scripts %}
		<script src="{{script}}"></script>
		{% endfor %}
		<script>
			App.run({})
		</script>
	</body>
</html>
