.row-main {
	@include clearfix();
	position: relative;
	max-width: $rowMainWidth;
	margin: 0 auto;
	padding: 0 $rowMainGutter;
}
.grid {
	@extend %reset-ol;
	@extend %grid;
	margin-bottom: -($gridGutter);
	margin-left: -($gridGutter);
	&__cell {
		@extend %reset-ol-li;
		@extend %grid__cell;
		position: relative;
		border: $gridGutter solid transparent;
		border-width: 0 0 $gridGutter $gridGutter;

		// hide the border in MS high contrast mode
		border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E");
		&--top {
			align-self: flex-start;
		}
		&--middle {
			align-self: center;
		}
		&--bottom {
			align-self: flex-end;
		}
		&--eq {
			display: flex;
			> * {
				flex: 1 1 auto;
			}
		}
	}

	// VARIANTs
	&--scroll {
		@extend %grid--scroll;
	}
	&--nowrap {
		flex-wrap: nowrap;
	}
	&--middle {
		align-items: center;
	}
	&--bottom {
		align-items: flex-end;
	}
	&--center {
		justify-content: center;
	}
	&--right {
		justify-content: flex-end;
	}
	&--space-between {
		justify-content: space-between;
	}
}
.size {
	@include generateGridSize();
}

// .push {
// 	@include generateGridPush();
// }
// .pull {
// 	@include generateGridPull();
// }
// .order {
// 	@include generateGridOrder();
// }
