<picture class="container__logo">
    <source type="image/png" media="(min-width: 1240px)" srcset="{{ assets.images }}illust/hero-w900.png, {{ assets.images }}illust/hero-w900@2x.png 2x" />
    <source type="image/png" media="(min-width: 1024px)" srcset="{{ assets.images }}illust/hero-w740.png, {{ assets.images }}illust/hero-w740@2x.png 2x" />
    <source type="image/png" media="(min-width: 768px)" srcset="{{ assets.images }}illust/hero-w600.png, {{ assets.images }}illust/hero-w600@2x.png 2x" />
    <source type="image/png" media="(min-width: 480px)" srcset="{{ assets.images }}illust/hero-w768.png, {{ assets.images }}illust/hero-w768@2x.png 2x" />
    <source type="image/png" media="(min-width: 320px)" srcset="{{ assets.images }}illust/hero-w480.png, {{ assets.images }}illust/hero-w480@2x.png 2x" />
    <source type="image/png" srcset="{{ assets.images }}illust/hero-w320.png, {{ assets.images }}illust/hero-w320@2x.png 2x" />
    <img src="{{ assets.images }}illust/hero-w900.png" alt="" />
</picture>